*{
   margin: 1%;
   padding: 0;
}
h1{
    color: white;
    background: url(cabecera1.jpg);
    font-family: sans-serif;
    font-style: normal;
    font-size: 3em;
}
body{
    background: url(fondo.jpg);
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
}
#header{
   color: black;
   margin: auto;
   width: 80%;
   padding:1em;
   border-radius: 2em;
}
.boton{
   margin:1em 0.5em;
   background: rgb(236, 38, 154);
   line-height:4em;
   height:4em;
   padding: 0.4em 3em;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 1em 3em;
   }
a:hover{
   opacity: 0.8;
   background-color:rgb(252, 155, 211);
   color:black;
}
a:active{
      transform: scale(.95);
      }
#header a{
   text-decoration: none;
}
#iniciot{
   width: 60%;
   float: left;
}
#iniciov{
   width: 35%;
   float: right;
}
.subtitulo{
    font-family: sans-serif;
    font-style: normal;
}
p{
   text-align: justify;
}
ul li{
   list-style: none;
}
#menu{
   margin-left: 3%;
   color: blue;
}
#menu ol li a{
   color: blue;
}
p >img{
   width: 320px;
   height: 450px;
}
table {
    list-style: none;
    width: 100%;
    border: 1px solid #000;
 }
 th{
    list-style: none;
    text-align: center;
    background: url(fondo_cuadro.jpg);
    background-blend-mode: normal;
 }
 td {
    list-style: none;
    vertical-align: top;
    border: 1px solid #000;
    text-align: center;
    background: url(fondo_cuadro.jpg);
 }
 .video{
    width: 100%;
    background: url(fondo_cuadro.jpg);
    background-blend-mode: normal;
 }
 .youtube{
    text-align: center;
 }
 .oxa{
    font-size: 2em;
    text-align: center;
    color:rgb(70%, 0%, 30%);
 }
 .autoridades{
    width: 100%;
    float: left;
 }
 .imgRedonda {
   width:300px;
   height:500px;
   border-radius:120px;
}
.imgfoto {
   width:600px;
   height:300px;
   border-radius:100px;
}
*{box-sizing:border-box;}

.social{
width:48px;
position:fixed;
top:50px;
right:0;
opacity: 0.8;
}
.social{
top:50%;
height:205px;
margin-top:-100px;
}